$primary-color: rgba(150,237,255,1);
$secondary-color: rgb(255, 255, 255);
$btn-color: rgb(0, 213, 255);
$transition-1: all 0.2s ease-out;

// Developed and Designed by Mohammad Alavi - https://github.com/mohammad00alavi 